@using Juan.Models
@{
    ViewData["Title"] = "Update";
}

@model Slider

<div class="container">
    <form method="post" asp-action="update" enctype="multipart/form-data">
  <div class="row">
      <div class="mb-3 col-md-4">
    <label asp-for="@Model.Title1" class="form-label">Title1</label>
    <input  class="form-control" asp-for="@Model.Title1" placeholder="Title1">
   </div>
  <div class="mb-3 col-md-4">
    <label asp-for="@Model.Title2" class="form-label">Title2</label>
    <input  class="form-control" asp-for="@Model.Title2" placeholder="Title2">
  </div>
  <div class="mb-3 col-md-4">
    <label asp-for="@Model.RedirectUrl" class="form-label">RedirctUrl</label>
    <input  class="form-control" asp-for="@Model.RedirectUrl" placeholder="RedirctUrl">
  </div>
  <div class="mb-3 col-md-4">
    <label asp-for="@Model.RedirectUrlText" class="form-label">RedirctUrlText</label>
    <input  class="form-control" asp-for="@Model.RedirectUrlText" placeholder="RedirctUrlText">
  </div>
  </div>
 <div>   <p>
      <label asp-for="@Model.ImageFile" class="form-label">ImageFile</label>
          <input  class="form-control" asp-for="@Model.ImageFile" placeholder="ImageFile">
          <span asp-validation-for="ImageFile" class="text-danger"></span>
          </p> 
</div>
        <div style="width: 150px;height:100px">
            <img style="width:150px;height:100px" src="~/uploads/sliders/@Model.Image" />
        </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
